@using SiparisUygulama.Web.Models.Restaurant;
@model RestaurantViewModel
@{
    ViewData["Title"] = "Restoranlar";
    Layout = "_Restoran";
}
<div class="card w-100">
    <div class="card-body ">
        <h5 class="card-title">Restoran Düzenle</h5>
        <form action="@Url.Action("Index","Restaurant")" method="post" enctype="multipart/form-data">
            @if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
            {
                <div class="row mb-3">
                    @foreach (var ermsg in Model.ErrorMessages)
                    {
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                <i class="fal fa-exclamation-circle"></i>
                                @ermsg
                            </div>
                        </div>
                    }
                </div>
            }
            @Html.HiddenFor(x => x.Id)
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Adı</label>
                        <input type="text" class="form-control" asp-for="RestaurantName" />
                        <span asp-validation-for="RestaurantName" class="text-danger"></span>
                        <label>Açılış Saati</label>
                        <input type="text" class="form-control" asp-for="OpeningTime" />
                        <span asp-validation-for="OpeningTime" class="text-danger"></span>
                        <label>Kapanış Saati</label>
                        <input type="text" class="form-control" asp-for="ClosingTime" />
                        <span asp-validation-for="ClosingTime" class="text-danger"></span>
                        <label class="form-label">Restoran Fotoğrafı</label>
                        @if (!string.IsNullOrEmpty(Model.RestaurantImgFileName))
                        {
                            <img src="~/Files/Restaurant/@Model.RestaurantImgFileName" class="img-fluid mb-4" />
                        }
                        <input type="file" asp-for="RestaurantImgFile" class="form-control" accept="image/*" />
                        <span asp-validation-for="RestaurantImgFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>

            </div>
        </form>
    </div>
</div>
